<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar">
    Simple Airbnb
  </div>
    <%= yield %>
  </body>
</html>
